# <font color='blue'>Data Science Academy</font>

## <font color='blue'>Fundamentos de Linguagem Python Para Análise de Dados e Data Science</font>

## <font color='blue'>Capítulo 4 - Estruturas de Dados (Dicionários)</font>

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.11.5

### Trabalhando com Dicionários

In [2]:
# Isso é uma lista
estudantes_lst = ["Pedro", 24, "Ana", 22, "Ronaldo", 26, "Janaina", 25]

In [3]:
estudantes_lst

['Pedro', 24, 'Ana', 22, 'Ronaldo', 26, 'Janaina', 25]

In [4]:
type(estudantes_lst)

list

In [5]:
# Isso é um dicionário
estudantes_dict = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [6]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [7]:
type(estudantes_dict)

dict

In [8]:
estudantes_dict["Pedro"]

24

In [9]:
estudantes_dict["Marcelo"] = 23

In [10]:
estudantes_dict["Marcelo"]

23

In [11]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25, 'Marcelo': 23}

In [12]:
estudantes_dict.clear()

In [13]:
estudantes_dict

{}

In [14]:
del estudantes_dict

In [15]:
estudantes_dict

NameError: name 'estudantes_dict' is not defined

In [ ]:
estudantes = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [ ]:
estudantes

In [16]:
len(estudantes)

NameError: name 'estudantes' is not defined

In [17]:
estudantes.keys()

NameError: name 'estudantes' is not defined

In [18]:
estudantes.values()

NameError: name 'estudantes' is not defined

In [19]:
estudantes.items()

NameError: name 'estudantes' is not defined

In [20]:
estudantes2 = {"Camila":27, "Adriana":28, "Roberta":26}

In [21]:
estudantes2

{'Camila': 27, 'Adriana': 28, 'Roberta': 26}

In [22]:
estudantes.update(estudantes2)

NameError: name 'estudantes' is not defined

In [23]:
estudantes

NameError: name 'estudantes' is not defined

In [24]:
dic1 = {}

In [25]:
dic1

{}

In [26]:
dic1["chave_um"] = 2

In [27]:
print(dic1)

{'chave_um': 2}

In [28]:
dic1[10] = 5

In [29]:
dic1

{'chave_um': 2, 10: 5}

In [30]:
dic1[9.13] = "Python"

In [31]:
dic1

{'chave_um': 2, 10: 5, 9.13: 'Python'}

In [32]:
dic1["teste"] = 5

In [33]:
dic1

{'chave_um': 2, 10: 5, 9.13: 'Python', 'teste': 5}

In [34]:
dict1 = {}

In [35]:
dict1

{}

In [36]:
dict1["teste"] = 10

In [37]:
dict1["key"] = "teste"

In [38]:
# Atenção, pois chave e valor podem ser iguais, mas representam coisas diferentes.
dict1

{'teste': 10, 'key': 'teste'}

In [39]:
dict2 = {}

In [40]:
dict2["key1"] = "Data Science"

In [41]:
dict2["key2"] = 10

In [42]:
dict2["key3"] = 100

In [43]:
dict2

{'key1': 'Data Science', 'key2': 10, 'key3': 100}

In [44]:
a = dict2["key1"]

In [45]:
b = dict2["key2"]

In [46]:
c = dict2["key3"]

In [47]:
a, b, c

('Data Science', 10, 100)

In [48]:
# Dicionário de listas
dict3 = {'chave1':1230, 'chave2':[22,453,73.4], 'chave3':['picanha', 'fraldinha', 'alcatra']}

In [49]:
dict3

{'chave1': 1230,
 'chave2': [22, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

In [50]:
dict3['chave2']

[22, 453, 73.4]

In [51]:
# Acessando um item da lista, dentro do dicionário
dict3['chave3'][0].upper()

'PICANHA'

In [52]:
# Operações com itens da lista, dentro do dicionário
var1 = dict3['chave2'][0] - 2

In [53]:
var1

20

In [54]:
# Duas operações no mesmo comando, para atualizar um item dentro da lista
dict3['chave2'][0] -= 2

In [55]:
dict3

{'chave1': 1230,
 'chave2': [20, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

### Criando Dicionários Aninhados

In [56]:
# Criando dicionários aninhados
dict_aninhado = {'key1':{'key2_aninhada':{'key3_aninhada':'Dict aninhado em Python'}}}

In [57]:
dict_aninhado

{'key1': {'key2_aninhada': {'key3_aninhada': 'Dict aninhado em Python'}}}

In [58]:
dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

'Dict aninhado em Python'

# Fim

### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>